/bin/
/classes/
/tests/
/lib/
*.iml
.idea/*
.project
.classpath
pom.xml.versionsBackup
*/dist/*
**/target/**/*
/Bundle/target/
/lib/
/Server/src/logs/
**/.DS_Store
**/.settings
**/*.class
.metadata/*

Server/src/data
PartnerA
Server/src/config/openas2-server.crt
Server/src/config/ssl_trust_certs.p12
certificate.sh
